<h1>rwjblue's local-lookup demo</h1>

<ul>
  <li>{{link-to 'Route with Global Lookup' 'global-only'}}</li>
  <li>{{link-to 'Route with Local Lookup' 'local-only'}}</li>
  <li>{{link-to 'Route with Global and Local Lookup' 'local-wins'}}</li>
</ul>

{{outlet}}
